@using viafront3.Models.WalletViewModels
@using viafront3.Views.Wallet
@using viafront3.Views
@model BalanceViewModel
@{
    ViewData["Title"] = "Balance";
    ViewData.AddActivePage(WalletNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>
                    Asset
                </th>
                <th class="pad-decimals">
                    Available
                </th>
                <th class="pad-decimals">
                    Frozen
                </th>
            </tr>
            <tbody>@{
                foreach (var item in Model.Balances)
                {
                    <tr>
                        <td>
                            @item.Key
                        </td>
                        <td>
                            <span class="pad-decimals-data">
                            @ViewUtils.FormatStrDec(item.Value.Available, Model.AssetSettings[item.Key].Decimals)
                            </span>
                        </td>
                        <td>
                            <span class="pad-decimals-data">
                            @ViewUtils.FormatStrDec(item.Value.Freeze, Model.AssetSettings[item.Key].Decimals)
                            </span>
                        </td>
                    </tr>
                }
            }</tbody>
        </table>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_PadDecimalsScriptsPartial")
}
