@using viafront3.Models.WalletViewModels
@using viafront3.Views.Wallet
@using viafront3.Views
@using Microsoft.Extensions.Options
@inject IOptions<ExchangeSettings> ExchangeSettings
@{
    ViewData.AddActivePage(WalletNavPages.Withdrawals);
    var settings = ExchangeSettings.Value;
}

<h4>@ViewData["Title"]</h4>

<ul class="nav nav-pills nav-stacked">
    @foreach (var item in settings.Assets)
    {
        <li><a asp-action="Withdraw" asp-route-asset="@item.Key">@item.Key</a></li>
    }
</ul>
