@using viafront3.Models.MarketViewModels
@using viafront3.Views.Market
@model OrderbookPartialViewModel

<div class="col-md-6">
    <h4>Bid</h4>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th class="pad-decimals">
                Price
            </th>
            <th class="pad-decimals">
                Amount
            </th>
        </tr>
        <tbody>@{
            foreach (var item in Model.OrderDepth.bids)
            {
                <tr>
                    <td>
                        <span class="pad-decimals-data">
                        @item.ElementAt(0)
                        </span>
                        &nbsp;@Model.PriceUnit
                    </td>
                    <td>
                        <span class="pad-decimals-data">
                        @item.ElementAt(1)
                        </span>
                        &nbsp;@Model.AmountUnit
                    </td>
                </tr>
            }
        }</tbody>
    </table>
</div>
<div class="col-md-6">
    <h4>Ask</h4>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th class="pad-decimals">
                Price
            </th>
            <th class="pad-decimals">
                Amount
            </th>
        </tr>
        <tbody>@{
            foreach (var item in Model.OrderDepth.asks)
            {
                <tr>
                    <td>
                        <span class="pad-decimals-data">
                        @item.ElementAt(0)
                        </span>
                        &nbsp;@Model.PriceUnit
                    </td>
                    <td>
                        <span class="pad-decimals-data">
                        @item.ElementAt(1)
                        </span>
                        &nbsp;@Model.AmountUnit
                    </td>
                </tr>
            }
        }</tbody>
    </table>
</div>