@using viafront3.Models.MarketViewModels
@using viafront3.Views.Market
@model OrderbookViewModel
@{
    ViewData["Title"] = "Order Book";
    ViewData.AddActivePage(Model.Market);
}

@section Head {
    @await Html.PartialAsync("_ChartCssPartial")
}

<h4>@ViewData["Title"] - @Model.MarketNice</h4>

<div class="row">
    @await Html.PartialAsync("_OrderbookPartial", Model.OrderBook)
</div>

<div class="row">
    <a href="#" class="loadchart" data-period="1H">1H</a>
    <a href="#" class="loadchart" data-period="4H">4H</a>
    <a href="#" class="loadchart" data-period="1D">1D</a>
    <a href="#" class="loadchart" data-period="1W">1W</a>
    <a href="#" class="loadchart" data-period="1M">1M</a>
    <div class="col-md-12" id="chart">
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_PadDecimalsScriptsPartial")
    @await Html.PartialAsync("_ChartScriptsPartial")
}

<script src="~/js/orderbook.js" data-market="@Model.Market"></script>