# python turds
*~
*.swp
*.swo
*.swn

# mac turds
.DS_Store

# sqlite dbs
*.db

# zipped submodules
*.zip

# ansible leftovers
*.retry

# cs binaries
bin/
obj/

# bower output
wwwroot/lib/

# npm output
node_modules/

# minitfied
wwwroot/css/site.min.css
wwwroot/js/site.min.js
wwwroot/css/chart.min.css
wwwroot/js/chart.min.js
wwwroot/js/pad-decimals.min.js
wwwroot/js/order-creation.min.js
wwwroot/js/order-cancellation.min.js
wwwroot/js/apikey-deletion.min.js

# logs
logs/

# visual studio stuff
.vs/
sln/

# nuget
.store/

# vagrant
.vagrant

# geckodriver
geckodriver*

# deployment credentials
/ansible/creds/*
/ansible/ssh_vars.json
