# python turds
*~
*.swp
*.swo

# mac turds
.DS_Store

# sqlite dbs
*.db

# zipped submodules
*.zip

# ansible leftovers
*.retry

# cs binaries
bin/
obj/

# bower output
wwwroot/lib/

# npm output
node_modules/

# minitfied
wwwroot/css/site.min.css
wwwroot/js/site.min.js

# logs
logs/
