@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Trade</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_TradeNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
