@using viafront3.Views.Trade
@using Microsoft.Extensions.Options
@inject IOptions<ExchangeSettings> ExchangeSettings
@{
    var settings = ExchangeSettings.Value;
}

<ul class="nav nav-pills nav-stacked">
    @foreach (var item in settings.Markets)
    {
        <li class="@TradeNavPages.PageNavClass(ViewContext, item.Key)"><a asp-action="Trade" asp-route-market="@item.Key">@item.Key</a></li>
    }
</ul>

