@using viafront3.Models.TradeViewModels
@using viafront3.Views.Trade
@using viafront3.Views
@model OrdersPendingViewModel
@{
    ViewData["Title"] = "Orders Pending";
    ViewData.AddActivePage(Model.Market);
}
<h4>@ViewData["Title"] - @Model.MarketNice</h4>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Pending Orders
            </div>
            <div class="panel-body">
                @await Html.PartialAsync("_PendingOrdersPartial", Model.OrdersPending,
                    new ViewDataDictionary(this.ViewData) { { "use_pagination", true }, {"trade_model", Model} })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_PadDecimalsScriptsPartial")
    @await Html.PartialAsync("_OrderCancellationScriptPartial")
}