@using viafront3.Models.InternalViewModels
@using viafront3.Views
@{
    ViewData["Title"] = "Internal stuff";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <ul>
                    <li>todo: allow admin to view these pages
                    <li><a href="/Internal/TestWebsocket">Test Websocket</a>
                    <li><a href="/Internal/WebsocketAuth">Websocket Authenication (used by viaxch backend)</a>
                </ul>
            </div>
        </div>
    </div>
</div>
