@using viafront3.Models.InternalViewModels
@using viafront3.Views
@model UsersViewModel
@{
    ViewData["Title"] = "User list";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Users
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-responsive table-hover">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Exchange Id
                        </th>
                        <th>
                            Roles
                        </th>
                    </tr>
                    <tbody>@{
                        foreach (var userInfo in Model.UserInfos)
                        {
                            var user = userInfo.User;
                            var roles = userInfo.Roles;
                            <tr>
                                <td>
                                    <a href="UserInspect?id=@user.Id">@user.Id</a>
                                </td>
                                <td>
                                    @user.Email
                                </td>
                                <td>
                                    @userInfo.ExchangeId
                                </td>
                                <td>
                                    @string.Join(",", roles)
                                </td>
                            </tr>
                        }
                    }</tbody>
                </table>
            </div>
        </div>
    </div>
</div>