@using viafront3.Models.InternalViewModels
@using viafront3.Views
@model WalletsViewModel
@{
    ViewData["Title"] = "Wallets";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Blockchain Wallets
                (<a asp-action="Wallets" asp-route-update="true">
                    Update
                </a>)
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-responsive table-hover">
                    <tr>
                        <th>
                            Asset
                        </th>
                        <th class="pad-decimals">
                            Total Funds
                        </th>
                        <th class="pad-decimals">
                            Consolidated Funds
                        </th>
                        <th>
                            Pending Spends
                        </th>
                    </tr>
                    <tbody>@{
                        foreach (var item in Model.ChainBalances)
                        {
                            var total = item.Value.Wallet.AmountToString(item.Value.Total);
                            total = ViewUtils.FormatStrDec(total, Model.AssetSettings[item.Key].Decimals);
                            var consolidated = item.Value.Wallet.AmountToString(item.Value.Consolidated);
                            consolidated = ViewUtils.FormatStrDec(consolidated, Model.AssetSettings[item.Key].Decimals);

                            <tr>
                                <td>
                                    @item.Key
                                </td>
                                <td>
                                    <span class="pad-decimals-data">
                                        @total
                                    </span>
                                </td>
                                <td>
                                    <span class="pad-decimals-data">
                                        @consolidated
                                    </span>
                                </td>
                                <td>
                                    <a asp-action="WalletPendingSpends" asp-route-asset="@item.Key">view list</a>
                                </td>
                            </tr>
                        }
                    }</tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Fiat Wallets
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-responsive table-hover">
                    <tr>
                        <th>
                            Asset
                        </th>
                        <th class="pad-decimals">
                            Total Funds
                        </th>
                        <th>
                            Pending Deposits/Withdrawals
                        </th>
                    </tr>
                    <tbody>@{
                        foreach (var item in Model.FiatBalances)
                        {
                            var total = item.Value.Wallet.AmountToString(item.Value.Total);
                            total = ViewUtils.FormatStrDec(total, Model.AssetSettings[item.Key].Decimals);

                            <tr>
                                <td>
                                    @item.Key
                                </td>
                                <td>
                                    <span class="pad-decimals-data">
                                        @total
                                    </span>
                                </td>
                                <td>
                                    <a asp-action="FiatWalletPendingTxs" asp-route-asset="@item.Key">view list</a>
                                </td>
                            </tr>
                        }
                    }</tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_PadDecimalsScriptsPartial")
}