@using viafront3.Models.InternalViewModels
@using viafront3.Views
@{
    ViewData["Title"] = "Reports";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <ul>
                    <li><a href="/Report/Broker">Broker</a>
                    <li><a href="/Report/Exchange">Exchange</a>
                </ul>
            </div>
        </div>
    </div>
</div>
