@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="http://github.com/djpnewton/acuerdo">http://github.com/djpnewton/acuerdo</a><br />
</address>
