@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="cover-heading">Acuerdo exchange demo</h1>
    <p class="lead">Acuerdo is a front end for the Viabtc Exchange Server</p>
    <p class="lead">
      <a href="http://github.com/djpnewton/acuerdo" class="btn btn-lg btn-default">Learn more</a>
    </p>
