myhostname = {{ domain_name }}
myorigin = {{ domain_name }}
smtpd_banner = $myhostname
smtpd_relay_restrictions = permit_mynetworks, reject_unauth_destination

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

mydestination = $myhostname, localhost.localdomain, localhost

relayhost =
{% if local %}
mynetworks = 127.0.0.0/8 10.0.0.0/8 {{backend_ip}} {{blockchain_ip}}
{% else %}
mynetworks = 127.0.0.0/8 {{backend_ip}} {{blockchain_ip}}
{% endif %}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
