server_tokens off;

server {
    listen 80 default_server;
    server_name {{ domain_name }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

{% if deploy_type != "local" %}
    location / {
        rewrite ^ https://{{ domain_name }}$request_uri? permanent;
    }
{% else %}
    # reverse proxy to our app
    location / {
        proxy_set_header  Host $host;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto $scheme;
        proxy_pass        http://localhost:5000;
    }
{% endif %}
}
