add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
add_header X-Frame-Options DENY;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
add_header Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'unsafe-inline' 'self'; img-src 'self' data:;";

limit_req_status 429;
limit_req_zone $binary_remote_addr zone=app_limit:10m rate=10r/s;
limit_req_zone $binary_remote_addr zone=api_limit:10m rate=1r/s;
limit_req_zone $binary_remote_addr zone=login_limit:10m rate=6r/m;

# HTTPS server
#
server {
    listen 443 ssl default deferred;
    server_name {{ domain_name }};

    ssl on;
    ssl_certificate         /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;

    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_session_tickets off;
    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_protocols TLSv1.2;
    ssl_ciphers EECDH+AESGCM:EDH+AESGCM;
    ssl_ecdh_curve secp384r1;

    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;

    #root /var/www/{{ domain_name }};
    #index index.html index.htm;
    #
    #location / {
    #    try_files $uri $uri/ =404;
    #}

    # reverse proxy to accessws
    location /ws/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_pass http://{{backend_host}}:8090;
    }


    # reverse proxy to our app
    location / {
        limit_req zone=app_limit burst=20 nodelay;
        proxy_set_header  Host $host;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto $scheme;
        proxy_pass        http://localhost:5000;
        location /api {
            limit_req zone=api_limit;
            # proxy_pass is not inherited
            proxy_pass http://localhost:5000;
        }
        location = /Account/Login {
            limit_req zone=login_limit burst=20 nodelay;
            # proxy_pass is not inherited
            proxy_pass http://localhost:5000;
        }
    }
}
