[[inputs.net_response]]
  address = "localhost:80"
  protocol = "tcp"
  timeout = "5s"
[[inputs.net_response]]
  address = "localhost:443"
  protocol = "tcp"
  timeout = "5s"
[[inputs.net_response]]
  address = "localhost:5000"
  protocol = "tcp"
  timeout = "5s"

