[Unit]
Description=viafront
After=network.target

[Service]
User=viafront
Group=viafront

ExecStart=/bin/bash -c "cd /opt/viafront; {{dotnet_run_env}};  dotnet bin/Debug/netcoreapp2.2/viafront3.dll --urls 'http://localhost:5000;http://{{internal_ip}}:5000'"

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
